@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-lg text-lg bg-violet-800 hover:bg-indigo-900 px-2 py-1 text-white font-semibold hover:shadow-xl tracking-widest border-neutral-800 border-2;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
